.layers-control {
  padding-top: 5px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
}
.layers-control ul {
  font-weight: bold;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}
.layers-control span {
  font: 12px/1.5 Arial, Helvetica, sans-serif;
  padding: 5px;
}
